body {
	font-family:微軟正黑體;
}

img {
	max-width:100%;
}

.main-mobile {
	display: none;
}

.main-bg {
	background: url(../images/main-bg.png) top center repeat-y;
	background-size: 100% auto;
}

.hurry-up {
	background: url(../images/main-banner.jpg) top center no-repeat;
	background-size: cover;
	position: relative;
	height: 50vh;
}

.hurry-up img {
	position: absolute;
	bottom:15%;
	right: 13%;
	height: 80px;
}

.join {
	position:relative;
}

.join img {
	position:absolute;
	/* CSS3淡出淡入效果,1秒 */
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.join img:nth-of-type(2):hover{
	opacity:0; /滑鼠滑入時，透明度變0/
}

.prize {
	position: relative;
	padding-top: 25px;
}

.promotion {
	background: #bd9666;
	color: #fff;
	padding-top: 40px;
}

.promotion h3 {
	text-align: right;
	margin: 0;
}

.promotion p {
	padding:0 16%;
	font-size: 16px;
	margin-left: -18px;
}

.promotion ol {
	padding:0 16%;
}

.promotion li {
	font-size: 16px;
	padding-bottom: 10px;
}

.delay-time {
	animation-delay: 2s;
}

@media (max-width:767px) {
	.promotion h3 {
		text-align: left;
		padding:0 13.5% 20px;
	}
}

@media (max-width:480px) {
	.main {
		display: none;
	}

	.main-mobile {
		display: block;
	}

	.join-s {
		position:relative;
	}

	.join-s img {
		position:absolute;
		/* CSS3淡出淡入效果,1秒 */
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
	}

	.join-s img:nth-of-type(2):hover{
		opacity:0; /滑鼠滑入時，透明度變0/
	}

	.main-mobile-bg {
		background: url(../images/main-mobile-bg.png) top center repeat-y;
		background-size: 100% auto;
	}

	.prize {
		padding-left: 5%;
		padding-right: 5%;
	}

	.promotion h3 {
		text-align: left;
		padding:0 5.5% 20px;
	}

	.promotion p {
		padding:0 10%;
		font-size: 14px;
		margin-left: -18px;
	}

	.promotion ol {
		padding:0 10%;
	}

	.promotion li {
		font-size: 14px;
		padding-bottom: 10px;
	}

	.line-link {
		position: relative;
		height: 50px;
		display: block;
	}

	.line-link a {
		color: #fff;
		font-size: 18px;
		display: block;
		text-align: center;
		height: 50px;
		line-height: 50px;
		background: #a11f36;
		position: fixed;
		bottom: 0;
		z-index: 2;
		width: 100%;
	}

}
